extends layout

block content
  h1= title
  p.light A random collection of thoughts. 
  p.light Going to be full of stuff I think is interesting.


  each blogEntry in blogEntries
    div.blogEntry
        p.blogTitle !{blogEntry.title}
        p.blogText !{blogEntry.text}
        p.datetime !{blogEntry.submitted}

