doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascript')
			var t=setTimeout(function(){window.location='/';},5000)
			
	body
		h1= title
		p Reloading from GitHub
		p Should redirect in 5 seconds....	  