block sidemenu

	- var links =  [{name: 'Main Page', href: '/'},{name: 'My Blog', href: '/blog'},{name: 'Vimrc', href: '/vimrc'},];

	div#sidemenu
		h3 Alex Thomas
		p Software Engineer
		p#light C, Python, Java, .Net, NodeJs, Vim Hobbist, Gamer, Linux Kernel Tinkerer 

		ul#menu
			for link in links
				li#menu: a(href="#{link.href}", title="#{link.name}") #{link.name}


		a(href="update", title="Update From Git") Update From Git
