block sidemenu

	div#sidemenu
		h3 Alex Thomas
		p Software Engineer
		p.light C, Python, Java, .Net, NodeJs, Vim Hobbist, Gamer, Linux Kernel Tinkerer 

		ul.menu
			- each link in sidemenulinks
				li.menu: a(href="#{link.href}", title="#{link.name}") !{link.name}

